<p id="notice"><%= notice %></p>

<h1>Seasons Greetings!</h1>

<head>
  <% @seasons.each do |season| %>
    <th colspan="3"><%= season.name %></th>
  <% end %>
</head>

<% @seasons.each do |season| %>
  <% season.name %>
  <%= season.beers.each do |beer| %>
    <% beer.name %>
  <% end %>
<% end %>

<br>
